h1{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
div{margin-left:20% ; margin-right:20% ;}
div{background-color: dimgray; color: white;}
body{
    
    background-color: black;
}
table {
    top: auto;
    
    border: 1px solid #fff; 
    position: absolute;
    caption-side: top;
    right: 25%;
    top: 22%;
    color:#000 ;
}
#jotaro{
    right: 21%;
    top: 150%;
}
#table1{
    left: 20.3%;
    top: 260%;
    right: 20.3%;
    border: 1px solid #000;
    color: #000;
    background-color: dimgrey;
    font-size: 20px;
}

h1,h2{
    margin-left: 5%;
}
#slum{
    top: 100%;
    right: 21%;
}
#po{
    right: 20%;
    top: 128%;
}
th,td{border: 1px solid #000;}
p,ul{
    font-size: 20px;
    margin-left: 5%;
    margin-right: 40%;
    
}
td{color: #fff;}

#coco{background-color: darkgray;
    text-align: left;
    margin-left: 15%;
    margin-right: 50%;

}